.cartitem-wrapper {
  margin-top: 170px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.cartitem-img {
  width: 200px;
}
.cartitem-title {
  font-size: 20px;
}
.cartitem-heading {
}
.cartitem-icon {
  font-size: 40px;
  color: #ccc;
  cursor: pointer;
}

.product_emtyCart-product {
  margin-top: 142px;
  margin-bottom: 111px;
}

h2.product_emtyCart {
  align-items: center;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 768px) {
  .cartitem-img {
    width: 57px;
  }
  .cartitem-title {
    font-size: 14px;
    width: 102px;
  }
  .product-body {
  }
}
