.gird-row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
.gird-wrapper {
  padding-left: 45px;
  padding-right: 45px;
}
.gird-collum {
  width: 25%;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
  text-align: center;

  img {
    width: 60%;
    height: 210px;
  }
}
.gird-collum-body {
  padding: 32px 0px;
}
.products-title {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  margin: 50px;
}
.wrapper-collum {
  box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 13%) 0px 0px 1px 1px;
  margin-right: 12px;
  margin-left: 12px;
  border-radius: 4px;
}
.product-button {
  text-align: center;
  margin-bottom: 50px;
  button {
    padding: 10px 10px;
    margin: 0 5px;
    box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px,
      rgb(9 30 66 / 13%) 0px 0px 1px 1px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }
}
.gird-card {
  margin-bottom: 29px;
  padding-bottom: 30px;

  h2 {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    display: center;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 12px;
  }
  p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 11px;
  }
  button {
    padding: 11px 16px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
    box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px,
      rgb(9 30 66 / 13%) 0px 0px 1px 1px;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}
.product-input {
  width: 564px;
  background-color: #f7f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 40px;
  padding: 0 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-radius: 4px;
  margin-bottom: 30px;
  input {
    width: 100%;
    display: block;
    padding-right: 10px;
    height: 100%;
    margin-right: 10px;
    font-size: 16px;
    background-color: transparent;
  }
  .product-search {
    font-size: 25px;
    cursor: pointer;
  }
}
.button-active {
  background-color: #000;
  color: #fff;
}
.button {
}
.wrapper-loading {
  margin-top: 65px;
  justify-content: center;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.col-md-3 {
  width: 293px;
  border-radius: 4px;
  height: 490px;
  margin: 0 12px;
  .react-loading-skeleton {
    height: 75% !important;
    padding-top: 28px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-loading {
    margin-top: 65px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    display: grid;
    place-items: center;
  }

  .gird-collum {
    width: 50%;
  }
  .gird-card h2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 12px;
    white-space: nowrap;
    width: 146px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }

  .product-button {
    margin: 0 auto;
  }

  .product-input {
    width: 275px;
    margin-top: 40px;
  }
  .wrapper-footer {
    display: list-item;
  }
  .slide-wrapper img {
    width: 100%;
  }
  .product {
    display: block;
  }
  .col-md-3 {
    width: 50%;
    height: 490px;
    padding: 0 8px;
    margin: 0;
  }

  .wrapper-loading {
    flex-wrap: wrap;
    display: flex;
  }
}
