.product-wrapper {
  display: flex;
  margin-top: 120px;
}
.product-image {
  text-align: center;
  width: 50%;
  img {
    width: 350px;
    height: 400px;
  }
}
.product-body {
  width: 50%;
  padding-right: 125px;
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 26px;
    margin-top: 4px;
  }
  p {
    margin-top: 15px;
  }
}
.react-loading-skeleton {
}
.react-loading-skeleton {
}
.product {
  margin-top: 113px;
  display: flex;
  justify-content: space-around;
}
.product-btn {
  margin-top: 75px;
  gap: 20px;
  display: flex;
  button {
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
      rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1200px) {
  .banner-album {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (max-width: 992px) {
  .banner-album {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .grid-row {
    display: flex;
    flex-direction: column;
  }

  .slide.active {
    margin-top: 77px;
  }
  .right-arrow {
    display: none;
  }
  .left-arrow {
    display: none;
  }

  .gird-wrapper {
    padding: 0;
  }
  .gird-row {
    width: 500px;
  }

  .products-title {
    margin: 0 auto;
    margin-bottom: 45px;
  }
  .product-body {
    width: 491px;
    padding-right: 125px;
    padding-left: 13px;
  }
  .product-wrapper {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
  }

  .gird-row {
    width: 100%;
  }
  .product-image {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    place-items: center;
    padding: 0;
  }
  .product-image img {
    width: 200px;
    height: 200px;
  }
  .product-body {
    width: 100%;
    padding-right: 0px;
  }
  .product-body p {
    margin-top: 15px;
    padding-right: 20px;
  }

  .product {
    display: block;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 576px) {
  .banner-album {
    grid-template-columns: repeat(1, 1fr);
  }
}
