.slide-image img {
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  /* height: 38px; */
  margin: 0 25px;
  /* height: 77px; */
  cursor: pointer;
  /* top: -56px; */
  bottom: 60px;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slide-image {
  margin-top: 80px;
}
.slide-banner {
  align-items: center;
  display: flex;
}
